src/main/mule/fileCreateImplementationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	
	    <file:config name="File_Config" doc:name="File Config" doc:id="ba403523-7c4d-4e79-9ab4-bb854b7ad6dd" />
	<flow name="post:\fileCreate:application\json:wco-sapi-sftp-config" doc:id="cc9d008a-ae44-4c28-9aba-b3b1117f8e68">
		<set-variable value='#[payload.id ++ ".json"]' doc:name="Set Variable" doc:id="5fcce356-369f-4415-a040-ffc61ef6ecb0" variableName="fileName"/>
		<file:write doc:name="Write" doc:id="b3a5d426-3e6a-4962-84a3-43db2fff23b3" config-ref="File_Config" path='#["C://Users//siva//Documents//file-poc//input//" ++ vars.fileName]'/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  file: vars.fileName,
  message: "file create success"
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
	
</mule>
