src/main/mule/fileReadImplementationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	    <flow name="get:\fileRead:wco-sapi-sftp-config" doc:id="18d494e3-60e8-427b-8f3a-7aa98f7fb0ff">
        <set-variable value='#[attributes.queryParams.fileName ++ ".json"]' doc:name="Set Variable" doc:id="45e653ed-a1f2-46ba-901d-36c737510952" variableName="fileName"/>
		<file:read doc:name="Read" doc:id="d3ef960d-b745-472e-b31f-d05a605effcb" path='#["C://Users//siva//Documents//file-poc//input//" ++ vars.fileName]' config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a91bfe4d-36f7-46fe-8472-62c4eb678a89" message="=====file read====#[payload]"/>
    
</flow>
	</mule>
