src/main/mule/fileMoveImplementationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	
	  <flow name="get:\fileMove:wco-sapi-sftp-config" doc:id="2d3d4ca3-f2bf-4e35-b300-af6a08dc9318">
        <set-variable value='#[attributes.queryParams.fileName ++ ".json"]' doc:name="Set Variable" doc:id="fbc83d0e-95c4-4a55-b552-9161066bae06" variableName="fileName"/>
		<file:move doc:name="Move" doc:id="e40d28ed-41a8-4f51-91d7-be23a805d450" sourcePath='#["C://Users//siva//Documents//file-poc//input//file_collection//" ++ vars.fileName]' targetPath="C:\Users\siva\Documents\file-poc\input\file action"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"file": vars.fileName,
	"message": "file moved success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c9c838e0-b47e-42d6-93b5-dd69d3e90792" message="====move==#[payload]"/>
    
</flow>
	</mule>
