src/main/mule/fileDeleteImplementationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	  <flow name="get:\fileDelete:wco-sapi-sftp-config" doc:id="e54bc3ca-47a5-4506-a7c2-7bd749c5192a">
        <set-variable value='#[attributes.queryParams.fileName ++ ".json"]' doc:name="Set Variable" doc:id="106fa554-2444-40b0-a968-2f259270121a" variableName="fileName"/>
		<file:delete doc:name="Delete" doc:id="2057a063-dc3d-4ea5-88e8-42481019457e" path='#["C://Users//siva//Documents//file-poc//input//fileaction//" ++ vars.fileName]' config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"file": vars.fileName,
	"message": "file deleted success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b139552a-f06b-47e1-81ae-5ca87a657faf" message="==delete===#[payload]"/>
    
</flow>
	
	</mule>
