src/main/mule/on_new_update_connector_implementationFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="on_new_update_connector_implementationFlowFlow" doc:id="c9c38930-d675-4429-ace8-f81de7624914" >
		<file:listener doc:name="On New or Updated File" doc:id="13aa1532-967f-4a68-9fd1-f89c1b340845" config-ref="File_Config" directory="C:\Users\siva\Documents\file-poc\input" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="df581fec-120a-483a-9eb4-89720b631497" message="****#[payload]***"/>
	</flow>
</mule>
